:root {
    --topbar-bg: #fff9ee;  /* тёплый, как у тебя */
    --brand-color: #2e2405;
    --gold: #d4a017;
    --gold-dark: #b8870f;
}

.headerWrap { position: relative; }

/* Верхний бар */
.topbarContainer {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--topbar-bg);
}

.topbar {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;         /* ровная линия по центру */
    justify-content: space-between;
    padding: 8px 20px;
    box-sizing: border-box;
}

.topbarLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Логотип */
.brand {
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--brand-color);
    letter-spacing: 0.2px;
}

.topbarRight { display: flex; align-items: center; gap: 10px; }

.btnLogin {
    padding: 6px 14px;
    border-radius: 10px;
    background: var(--gold);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
    transition: background .2s ease, transform .08s ease;
}
.btnLogin:hover { background: var(--gold-dark); color: white;}
.btnLogin:active { transform: translateY(1px); }


.profileBtn{
    padding: 6px 14px;
    border-radius: 10px;
    background: var(--gold);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
    transition: background .2s ease, transform .08s ease;
}
.profileBtn:hover{
    color: white;
    background: var(--gold-dark)
}
.profileBtn:active { transform: translateY(1px); }

.logoutBtn{
    padding: 6px 14px;
    border-radius: 10px;
    background: var(--gold);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
    transition: background .2s ease, transform .08s ease;
}

.crumbsBar{
    background: rgba(253, 244, 215, 0.2);                                  /* белая */
    border-top: 1px solid rgba(46,36,5,.10);          /* тонкая линия как разделитель */
    position: sticky;
    top: 48px;
    z-index: 1000;
}
.crumbsInner{
    max-width: 1250px;
    margin: 0 auto;
    padding: 6px 20px;                                 /* компактная высота */
}

/* Адаптив */
@media (max-width: 640px) {
    .topbar { padding: 6px 14px; }
    .brand { font-size: 1.05rem; }
    .crumbsInner { padding: 6px 14px; }
}
